﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SplatHistory.ink</title>
    <link rel="icon" href="~/assets/favicon.png"/>
    <environment names="Development">
        <link rel="stylesheet" href="~/build/styles.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/build/styles.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>splathistory.ink &copy; @DateTime.Now.Year <a href="https://twitter.com/tztape">tape</a></p>
            <p>
                Special thanks to <a href="https://twitter.com/splatoonmaps">@@splatoonmaps</a> for providing me with the data from before May 2016<br/>
                <span style="font-family: Paintball">Paintball</span> font by <a href="http://fizzystack.web.fc2.com/paintball.html">theFIZZYnator</a><br/>
                Data visualisation <a href="https://creativecommons.org/licenses/by-nc/3.0/">CC-BY</a> <a href="http://highcharts.com/">Highcharts</a>
            </p>
            <p>
                Related sites: <a href="http://splatpast.com/">splatpast.com</a>,
                <a href="https://splatoonmaps.github.io/">splatoonmaps.github.io</a>
            </p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/build/vendor.js"></script>
        <script src="~/build/app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/build/vendor.js" asp-append-version="true"></script>
        <script src="~/build/app.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
