﻿<div class="chart-root">
    <div id="timeline-container" class="chart timeline-chart"></div>
    <div id="stat-container" class="chart stat-chart"></div>
</div>

@section scripts {
    <script type="application/json" id="staticdata">
        @Html.Raw(ViewData["StaticData"])
    </script>
}