﻿<section>
    <h1>Not found</h1>
    <p>
        The thing you are searching for does not exist.
        <a asp-controller="Home" asp-action="Index">Go back to splathistory.ink</a>.
    </p>
</section>