﻿@import "reset.css";

@font-face {
    font-family: Paintball;
    font-weight: bold;
    src: url(../images/project_paintball_web.woff);
}

body {
    font-family: sans-serif;
}

a:link, a:hover, a:visited {
    color: blue;
}

a:active {
    color: red;
}

.chart-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart {
    width: 75%;
}

.timeline-chart {
    height: 600px;
}

.stat-chart {
    height: 400px;
}

footer {
    font-size: 14pt;
    margin: 10pt;
    line-height: 1.5;
}

section {
    margin: 10pt;
}

h1 {
    font-size: 24pt;
    font-family: Paintball;
    margin-bottom: 20pt;
}